name: Release Drafter

on:
  push:
    branches:
      - master
    tags:
      - 'v*.*.*'

permissions:
  contents: write
  
jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
      - uses: actions/checkout@v3

      - name: Run Release Drafter
      - uses: release-drafter/release-drafter@v5
        with:
          config-name: release-drafter.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}